<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="userService" class=" priv.yangkuncheng.proxy.UserServicelmpl"></bean>

    <bean id="orderService" class="priv.yangkuncheng.proxy.OrderServiceimpl"/>

    <!--    <bean id="before" class="priv.yangkuncheng.dynamic.Before"/>-->
    <bean id="arround" class="priv.yangkuncheng.dynamic.Arround"/>

    <aop:config>
        <!--        所有的方法 都做为切入点，加入额外功能 login reguster-->

        <!--        方法切入点-->
        <!--        <aop:pointcut id="pc" expression="execution(* priv.yangkuncheng.proxy.UserServicelmpl.login(..))"/>-->

        <!--        类切入点-->
        <!--        <aop:pointcut id="pc" expression="execution(* priv.yangkuncheng.proxy.UserServicelmpl.*(..))"/>-->

        <!--        包切入点-->
        <aop:pointcut id="pc" expression="execution(* login(..)) or execution(* register(..))"/>
        <aop:advisor advice-ref="arround" pointcut-ref="pc"/>
    </aop:config>
</beans>