<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="userService" class="priv.yangkuncheng.Spring.basic.UserServicempl">-->
    <!--        <property name="userDAO">-->
    <!--            <bean class="priv.yangkuncheng.Spring.basic.UserDAOimp"/>-->
    <!--        </property>-->
    <!--    </bean>-->

    <bean id="userDAO" class="priv.yangkuncheng.Spring.basic.UserDAOimp">
    </bean>
    <bean id="userService" class="priv.yangkuncheng.Spring.basic.UserServicempl">
        <property name="userDAO">
            <ref bean="userDAO"></ref>
        </property>
    </bean>

    <bean id="person" class="priv.yangkuncheng.Spring.basic.Person">
        <property name="list">
            <list>
                <value>11111</value>
                <value>11111</value>
                <value>11111</value>
                <value>111112</value>
            </list>
        </property>
    </bean>


    <bean id="persona" class="priv.yangkuncheng.Spring.basic.Person" p:name="xiaojianren" p:id="100"/>


    <bean id="customer" class="priv.yangkuncheng.Spring.basic.constructer.Customer">
        <constructor-arg name="age">
            <value>20</value>
        </constructor-arg>

<!--        <constructor-arg>-->
<!--            <value>102</value>-->
<!--        </constructor-arg>-->
    </bean>
</beans>